<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: 'Compose new micropost...' %>
  </div>
  <div class="field mt-3">
    <%= f.label :images, "Attach images" %>
    <%= f.file_field :images,
                     multiple: true,
                     accept: 'image/jpeg,image/png',
                     class: 'form-control' %>
    <small class="text-muted">Maximum 4 images (JPEG, PNG)</small>
  </div>
  <%= f.submit 'Post', class: 'btn btn-primary' %>
<% end %>