<% provide(:title, 'All hashtags') %>
<h1>All hashtags</h1>

<%= turbo_frame_tag 'hashtag_listings' do %>
  <ul class="users">
    <%= form_with url: hashtags_path,
                  method: :get,
                  data: { turbo_frame: 'hashtag_listings' },
                  html: { class: 'form-inline' } do |form| %>
      <%= form.search_field :q, class: 'form-control', placeholder: 'Search for a hashtag...' %>
      <% if params[:q].present? %>
        <%= link_to 'Clear',
                    hashtags_path,
                    class: 'btn btn-outline-danger',
                    style: 'margin-bottom: 15px;',
                    data: { turbo_frame: 'hashtag_listings' } %>
      <% end %>
    <% end %>
    <%= render @hashtags %>
  </ul>
<% end %>

<%= will_paginate %>
