<li id="<%= micropost.id %>">
  <%= image_for(micropost.user, size: 50) %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <% if micropost.images.attached? %>
    <div class="micropost-images row">
      <% micropost.images.each do |img| %>
        <div class="col-6 col-md-3 mb-3">
          <%= link_to url_for(img),
                      data: { lightbox: "micropost-#{micropost.id}", title: micropost.content.truncate(50) },
                      class: "d-block", target: "_blank" do %>
            <div class="image-container">
              <%= image_tag img.variant(resize_to_fill: [300, 300]), class: 'micropost-image' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <span class="content">
    Likes: <%= micropost.marks.where(mark_type: 'like').count %> |
    Dislikes: <%= micropost.marks.where(mark_type: 'dislike').count %>
  </span>
  <span class="content">
    <div class="btn-group">
      <%= render 'shared/mark_buttons', markable: micropost %>
    </div>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to 'delete', micropost, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    <% end %>
  </span>
  <span class="content">
    <%= link_to "Comments (#{micropost.comments.count})", micropost %>
  </span>
</li>